==
<div class="py-5 bg-dark text-white" >
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h6 class="text-muted mb-5 text-center">
            <b>TECHNO UTILISE POUR CE SITE :
              <a href="#">
                <img src="{{ 'assets/images/invision-white-slim.png'|theme }}" width="70px"> </a>.Laravel
              <a href="#">
                <img src="{{ 'assets/images/creative-tim-white-slim2.png'|theme }}" width="140px"> </a>&nbsp;.October&nbsp;
              <img src="{{ 'assets/images/pingendo_logo.png'|theme }}" width="30px">&nbsp;.Prigendo&nbsp;</b>
          </h6>
        </div>
      </div>
      <div class="row text-muted">
        <div class="col-md-12 text-center">
          <p>© Copyright 2018 Charles Saint olive - All rights reserved.</p>
          <p>Remerciement : pingendo, wathalearn, octobercms, laravel, laracast</p>
        </div>
      </div>
    </div>
  </div>