<a class="navbar-brand" title="Site CV Charles Saint Olive" data-placement="bottom" data-toggle="tooltip" href="{{ '/' | app }}">Charles Saint Olive</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="navbar-collapse collapse" id="navbar_global">
  <div class="navbar-collapse-header">
    <div class="row">
      <div class="col-6 collapse-brand">
        <a class="navbar-brand" title="Site CV Charles Saint Olive" data-placement="bottom" data-toggle="tooltip" href="{{ '/' | app }}">Charles Saint-Olive</a>
      </div>
      <div class="col-6 collapse-close">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
          <span></span>
          <span></span>
        </button>
      </div>
    </div>
  </div>
  <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
    <li class="nav-item dropdown">
      <a href="#" class="nav-link" data-toggle="dropdown" href="#" role="button">
        <i class="ni ni-ui-04 d-lg-none"></i>
        <span class="nav-link-inner--text">Expertises</span>
      </a>
      <div class="dropdown-menu dropdown-menu-xl">
        <div class="dropdown-menu-inner">
          <a href="{{ 'expertise/manager-digital' | app }}" class="media d-flex align-items-center">
            <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
              <i class="ni ni-spaceship"></i>
            </div>
            <div class="media-body ml-3">
              <h6 class="heading text-primary mb-md-1">Manager digital</h6>
              <p class="description d-none d-md-inline-block mb-0">Piloter la digitalisation de votre entreprise</p>
            </div>
          </a>
          <a href="{{ 'expertise/data-scientist' | app }}" class="media d-flex align-items-center">
            <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
              <i class="ni ni-atom"></i>
            </div>
            <div class="media-body ml-3">
              <h6 class="heading text-primary mb-md-1">data-scientist</h6>
              <p class="description d-none d-md-inline-block mb-0">Comprendre votre entreprise et ses leviers.</p>
            </div>
          </a>
          <a href="{{ 'expertise/chef-projet-technique' | app }}" class="media d-flex align-items-center">
            <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
              <i class="ni ni-ui-04"></i>
            </div>
            <div class="media-body ml-3">
              <h5 class="heading text-warning mb-md-1">Chef de projet technique</h5>
              <p class="description d-none d-md-inline-block mb-0">Faciliter les échanges entre vos servvices.</p>
            </div>
          </a>
        </div>
      </div>
    </li>
    <li class="nav-item mx-1 align-items-center d-flex">
    <a class="nav-link" href="#" data-request-success="" data-toggle="modal" data-target="#modal1">
      <i class="icon-file-pdf-o x4 mr-2"></i>CV</a>
  </li>
</ul>
<ul class="navbar-nav align-items-lg-center ml-lg-auto">
  <li class="nav-item d-none d-lg-block ml-lg-4">
    <a href="{{ '/backend'|app }}" target="_blank" class="btn btn-neutral btn-icon">
      <span class="btn-inner--icon">
        <i class="fa fa-cloud-download mr-2"></i>
      </span>
      <span class="nav-link-inner--text">Back Office</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link nav-link-icon" href="https://twitter.com/creativetim" target="_blank" data-toggle="tooltip" title="Follow us on Twitter">
      <i class="fa fa-twitter-square"></i>
      <span class="nav-link-inner--text d-lg-none">Linked in</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link nav-link-icon" href="https://github.com/creativetimofficial/argon-design-system" target="_blank" data-toggle="tooltip" title="Star us on Github">
      <i class="fa fa-github"></i>
      <span class="nav-link-inner--text d-lg-none">Github</span>
    </a>
  </li>
</ul>
</div>