<div class="modal fade" id="modal1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-dark mx-auto">
            <b>Télecharger mon CV</b>
          </h4>
          <button type="button" class="close text-danger pt-4 ml-0" data-dismiss="modal">
            <span>
              <i class="now-ui-icons ui-1_simple-remove lg"></i>
            </span>
          </button>
        </div>
        <div class="modal-body">
          <p class="m-0">Cliquez ci dessous pour telecharger mon CV.vous pouvez choisir deux types :</p>
          <ul>
            <li>CV (parsed )<br><span class="small">idéal si vous avez des robots ou des parser de CV</span></li>
            <li>CV (normal )<br><span class="small">Cv mis en forme sous word.</span></li>
          </ul>
        </div>
        <div class="modal-footer d-flex flex-row justify-content-right">
          <button type="button" class="btn btn-primary" data-request="onSubmitCv" data-dismiss="modal">CV normal</button>
          <button type="button" class="btn btn-primary" data-request="onSubmitCV2" data-dismiss="modal">CV parsed</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="modalSalaire">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-dark mx-auto">
            <b>pourquoi cette partie sur les salaires</b>
          </h4>
          <button type="button" class="close text-danger pt-4 ml-0" data-dismiss="modal">
            <span>
              <i class="now-ui-icons ui-1_simple-remove lg"></i>
            </span>
          </button>
        </div>
        <div class="modal-body">
          <p class="m-0">Alors bien sur il ne faut pas prendre tout au premier degré. ce mini jeu permet de vous montrer 4 choses : </p>
          <ul>
            <li>Je capte de la donné</li>
            <li>je la mouline</li>
            <li>j'associe un service tiers</li>
            <li>je la réstitue transformé</li>
          </ul>
          <p class="m-0">A partir de ce petit principe, nous pouvons batir des applications extrement puissantes. je captent des données de ventes, de devis, des informations sur les tendances marketing, je moulinne le tout et je sort des feuilles de routes, des levier marketing, etc.</p>
        </div>
        <div class="modal-footer d-flex flex-row justify-content-right">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>